@mixin flat {
  display: block;
  clear: both;
}

@mixin scoped {
  & {
    font-weight: bold;
  }
}

@mixin mixed {
  display: block;
  clear: both;

  & {
    font-weight: bold;
  }

  .nested {
    font-weight: normal;
  }

  color: red;
  font-weight: bold;
}

.a {
  @include scoped;
  color: red;
  @include flat;
  @include mixed;
}
