@mixin flat {
  display: block;
  clear: both;
}

@mixin scoped {
  & {
    font-weight: bold;
  }
}

@mixin mixed {
  display: block;
  clear: both;

  & {
    font-weight: bold;
  }
}

.a {
  color: red;

  &--bar {
    font-weight: bold;
  }

  .nested {
    font-weight: normal;
  }

  & {
    font-weight: normal;
  }
}

.b {
  color: red;

  & {
    font-size: 20px;
  }

  & {
    font-weight: bold;
  }
}

.c {
  @include flat;
}

.d {
  @include mixed;
}

.e {
  @include scoped
}

.f {
  @include external;
}

.g {
  @include flat;
  font-size: 16px;
}

.h {
  color: red;
  @include flat;
  font-size: 16px;
  @include mixed;
  @include scoped;
}

.i {
  @include flat;
  @include scoped;

  & {
    color: red;
  }
}

.j {
  @include flat;

  & {
    color: red;
  }

  @include scoped;
}

.k {
  @include external;
  font-size: 16px;
}
